.App {
  text-align: center;
  background-color: tan;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 1em;
}

.container {
  background-color: ivory;
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 2em;
  border-radius: 10px;
  justify-content: space-between;
}

.formContainer {
  padding: 3em;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10em;
}

h4 {
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
}

.material-icons {

  border: none;
  background-color: ivory;
  margin: 2px;
  border-radius: 50%;
}

.genButton {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.genButton:hover {
  scale: 1.1;
}

.favList {
  font-family: 'Courier New', Courier, monospace;
}

.favItem {
  font-size: xx-small;
}

.App-link {
  color: #61dafb;
}